/* ===================================== */
/* ===== FOOTER ===== */
/* ===================================== */

.footer{

  width:100%;

  background:#111827;

  color:white;

  margin-top:60px;
}

/* ===================================== */
/* ===== TOP ===== */
/* ===================================== */

.footerTop{

  display:grid;

  grid-template-columns:
  repeat(auto-fit,minmax(220px,1fr));

  gap:40px;

  padding:50px 40px;
}

/* ===================================== */
/* ===== SECTION ===== */
/* ===================================== */

.footerSection h1{

  color:#38bdf8;

  font-size:42px;

  margin-bottom:16px;
}

.footerSection h2{

  font-size:24px;

  margin-bottom:18px;
}

.footerSection p{

  color:#d1d5db;

  margin-bottom:12px;

  font-size:16px;

  cursor:pointer;

  transition:0.3s;
}

.footerSection p:hover{

  color:#38bdf8;

  transform:translateX(4px);
}

/* ===================================== */
/* ===== BOTTOM ===== */
/* ===================================== */

.footerBottom{

  border-top:
  1px solid #374151;

  padding:20px;

  text-align:center;

  color:#9ca3af;

  font-size:15px;
}

/* ===================================== */
/* ===== MOBILE ===== */
/* ===================================== */

@media(max-width:768px){

  .footerTop{

    padding:40px 20px;

    gap:30px;
  }

  .footerSection h1{

    font-size:34px;
  }

  .footerSection h2{

    font-size:20px;
  }

  .footerSection p{

    font-size:14px;
  }
}